body
{
  color: white;
  background: #a40d60;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.gesture_name
{
  font-size: 40px;
}
.gesture
{
  font-size:50px;
}
.heading {
  font-size: 20px;
  border-radius: 10px;
  letter-spacing: 5px;
  box-shadow: 4px 4px 30px rgb(211, 229, 10);
}
